{% extends 'template.html.twig' %}

{% block head %}
    <title>Accueil - Odyssey</title>
    <link rel="stylesheet" href="{{ css('home.css') }}">
{% endblock %}

{% block content %}
    {{ svg('home/wave.svg') }}

    <div class="container">
        <div class="free-text">
            <h1>Vous êtes <span class="strong">Étudiant</span> ou <span class="strong">Business Analyst</span> ?</h1>
            <p>Grâce à <span class="strong">Odyssey</span>, vérifiez vos axes d'analyse facilement et rapidement.</p>
        </div>

        <div class="home-card">
            <h1>Vous pouvez...</h1>

            <div class="home-card-item">
                {{ svg('home/chat.svg') }}
                <p>Collaborer à plusieurs sur vos projets</p>
            </div>
            <div class="home-card-item">
                {{ svg('home/bell.svg') }}
                <p>Obtenir des conseils dans votre analyse</p>
            </div>
            <div class="home-card-item">
                {{ svg('home/inbox.svg') }}
                <p>Vérifier la cohérence entre votre story map et votre BPMN</p>
            </div>
            <div class="home-card-item">
                {{ svg('home/placeholder.svg') }}
                <p>Vérifier la présence de vos flux MCF dans votre BPMN</p>
            </div>
            <div class="home-card-item">
                {{ svg('home/calculator.svg') }}
                <p>Calculer le taux de couverture de vos projets</p>
            </div>

            <div class="home-card-link">
                {% if userId is null %}
                    <a class="button red-orange-bg" href="/user/register">Créer un compte</a>
                {% else %}
                    <a class="button blue-bg" href="/project/list">Accéder à vos projets</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
